<h2>Get In Touch</h2>
<div class="row">
  <div class="8u 12u$(small)">
    <form method="post" action="https://formspree.io/humbl3@protonmail.com">
      <div class="row uniform 50%">
        <div class="6u 12u$(xsmall)"><label for="name">Name:</label><input type="text" name="name" id="name" placeholder="Name" autocomplete /></div>
        <div class="6u$ 12u$(xsmall)"><label for="email">EMail:</label><input type="email" name="email" id="email" placeholder="EMail" autocomplete /></div>
        <div class="12u$"><label for="message">Message:</label><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
      </div>
      <br />
      <ul class="actions">
        <li><input type="submit" value="Send Message" /></li>
      </ul>
    </form>
  </div>
  <div class="4u$ 12u$(small)">
    <ul class="labeled-icons">
      <li>
        <h3 class="icon fa-home"><span class="label">Address</span></h3>
        Paul Yeager<br />
        1321 Upland Dr. PMB 17478<br />
        Houston, TX 77043<br />
        United States
      </li>
      <li>
        <h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>
        <a href="mailto:violinkhuba@gmail.com">violinkhuba@gmail.com</a>
      </li>
    </ul>
  </div>
</div>
