<header id="header">
  <div class="inner">
    <a href="<%- url_for() -%>" class="image avatar"><img src="<%- theme.gravatar_email_img %>" alt="Paul E. Yeager in a suit and Thai yellow neck tie" /></a>
    <h1><strong>Paul E. Yeager, Engineer</strong></h1>
    <p>Based on NodeJS Hexo, this portfolio displays a fully responsive site custom-coded by <a href="http://paulyeager.net">PaulYeager.net</a>. Its NodeJS Hexo CLI-generated static assets are being served to you via a <a href="https://m.do.co/c/58005b7462a5" rel="nofollow">FREE Static Site deployment on DigitalOcean App Platform</a>, while the DNS is managed by the <a href="https://dnsimple.com/r/bb546d0caf81d9" rel="nofollow">friendly folk at DNSimple</a>.</p>
  </div>
</header>
