<header id="header">
  <div class="inner">
    <a href="<%- url_for() -%>" class="image avatar"><img src="<%- theme.gravatar_email_img %>" alt="" /></a>
    <h1><strong>Paul E. Yeager, Engineer</strong></h1>
    <p>Based on NodeJS Hexo CMS, this portfolio displays a fully responsive site template designed initially by <a href="http://html5up.net">HTML5 UP</a> as custom-modified by <a href="https://paulyeager.net">PaulYeager.net</a>. It is being served to you by a NodeJS server in the Heroku cloud.</p>
  </div>
</header>
