<header id="header">
  <div class="inner">
    <a href="<%- url_for() -%>" class="image avatar"><img src="<%- theme.gravatar_email_img %>" alt="Paul E. Yeager in a suit and Thai yellow neck tie" /></a>
    <h1><strong>Paul E. Yeager, Engineer</strong></h1>
    <p>Based on NodeJS Hexo, this portfolio displays a fully responsive site developed by <a href="http://paulyeager.net">PaulYeager.net</a>. Its NodeJS Hexo CLI-generated static assets are being served to you via a <a href="https://cloud.google.com/run" rel="nofollow">Google Cloud Run</a> deployment, while the DNS is registered with the <a href="https://dnsimple.com/r/bb546d0caf81d9" rel="nofollow">friendly folk at DNSimple</a>.</p>
  </div>
</header>
