<header id="header">
  <div class="inner">
    <a href="<%- url_for() -%>" class="image avatar"><img src="<%- theme.gravatar_email_img %>" alt="" /></a>
    <h1><strong>Paul E. Yeager, Engineer</strong></h1>
    <p>Based on NodeJS Hexo, this portfolio displays a fully responsive site designed initially by <a href="http://html5up.net">HTML5 UP</a> and custom-themed by <a href="http://paulyeager.net">PaulYeager.net</a>. Its NodeJS Hexo CLI-generated static assets are being served to you via Heroku, and are deployed by a forked NodeJS custom-plugin available at <a href="https://www.npmjs.com/package/hexo-stripepay-deployer-heroku" target="_blank">https://www.npmjs.com/package/hexo-stripepay-deployer-heroku</a>.</p>
  </div>
</header>
