<form action="/pay.php/" method="POST">
  <center>
    Make a Payment For Services Here, Any Amount:&nbsp;
    $&nbsp;<input type="number" step="0.01" id="amount" name="amount" maxlength="4" />&nbsp;
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="pk_live_51HMLPSFqyafAFlEVPyfHWCBA98oNaGUl2cO4B037HGjp9MuDH4SSRBJ68yghm8z3NDMNdPzrsrVb7oaAGKnYVuU100384kCElE"
      data-amount=""
      data-name="paulyeager.net"
      data-description="Web Consulting Pre-Payment"
      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
      data-locale="auto">
    </script>
  </center>
</form>
